
#list-view{
    padding:10px;
    & #list-info{
        height:97vh;
        position:relative;
        padding:5px;
        & #list-header{
            display:flex;
            align-items:center;
            gap:100px;
            & span {
                width:30px;
                height:30px;
                border:1px solid hsl(0,0%,70%);
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:25px;
                border-radius:5px;
            }
        }
        & #list-body{
            padding:5px;
            position:relative;
            max-height:85%; 
            overflow-y:scroll;
        }
        & #list-footer{
            position:absolute;
            width:100%;
            bottom:5px;
            right:5px;
            text-align:center;
        }
    }
}